## Segmenting and Clustering Neighborhoods in Toronto Project
#### Toni Krowisz - Applied Data Science Capstone Course

*Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.*

*Chose Beautiful Soup to use for webscraping.  Ignore records for which Borough is 'Not assigned'.  
 For rows that have an assigned Borough but Neighborhood is not assigned, set the Neighborhood same as Borough.  Any Postal codes that are listed more than once, with different neighborhoods, combine into one row
listing each of it's neighborhoods. 

Also, get the latitude and longitude coordinates for each postal code to include with the dataframe.

### Use Beautiful Soup to scrap the html from the page

In [162]:
from bs4 import BeautifulSoup 

#import requests and pull data from the wikipedia page
import requests 

URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
r = requests.get(URL) 
  
soup = BeautifulSoup(r.content, 'html5lib') 
#print(soup.prettify())

In [163]:
#grab the needed data from the table tags
table = soup.find('table')
table_rows = table.find_all('tr')
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    #print(row)  #pulls each data element per row

### Data pre-processing steps Part 1
1. Some columns only have a newline character in it. Those column headers will be labeled 'not_needed#' so that we can set them for removal after creating dataframe. 
2. Once the unneccessary columns are removed, the first row will also be removed, because I have already added column headers when creating the dataframe. 
3. Re-index the dataframe, since rows have been removed.

In [164]:
import pandas as pd

#set column names for the data.....so we can remove the columns with only newline character
Column_names = ("not_needed1", "Postal_Code", "not_needed2", "Borough", "not_needed3", "Neighborhood")
#data_type = str
df = pd.DataFrame(data=table_rows, columns=Column_names)
print (df.head())
print (df.shape)

  not_needed1      Postal_Code not_needed2           Borough not_needed3  \
0          \n  [Postal Code\n]          \n       [Borough\n]          \n
1          \n          [M1A\n]          \n  [Not assigned\n]          \n
2          \n          [M2A\n]          \n  [Not assigned\n]          \n
3          \n          [M3A\n]          \n    [North York\n]          \n
4          \n          [M4A\n]          \n    [North York\n]          \n

           Neighborhood
0      [Neighborhood\n]
1      [Not assigned\n]
2      [Not assigned\n]
3         [Parkwoods\n]
4  [Victoria Village\n]
(181, 6)

In [165]:
df.columns

Index(['not_needed1', 'Postal_Code', 'not_needed2', 'Borough', 'not_needed3',
       'Neighborhood'],
      dtype='object')

In [166]:
df.head()

,not_needed1,Postal_Code,not_needed2,Borough,not_needed3,Neighborhood
0,\n,[Postal Code\n],\n,[Borough\n],\n,[Neighborhood\n]
1,\n,[M1A\n],\n,[Not assigned\n],\n,[Not assigned\n]
2,\n,[M2A\n],\n,[Not assigned\n],\n,[Not assigned\n]
3,\n,[M3A\n],\n,[North York\n],\n,[Parkwoods\n]
4,\n,[M4A\n],\n,[North York\n],\n,[Victoria Village\n]

In [167]:
#pre process begin
df_process = df 
df_process.head()

,not_needed1,Postal_Code,not_needed2,Borough,not_needed3,Neighborhood
0,\n,[Postal Code\n],\n,[Borough\n],\n,[Neighborhood\n]
1,\n,[M1A\n],\n,[Not assigned\n],\n,[Not assigned\n]
2,\n,[M2A\n],\n,[Not assigned\n],\n,[Not assigned\n]
3,\n,[M3A\n],\n,[North York\n],\n,[Parkwoods\n]
4,\n,[M4A\n],\n,[North York\n],\n,[Victoria Village\n]

### Drop columns with \n character in them 0, 2, 4 
#### Then drop the first row, since we have already included headers

In [169]:
#drop the columns that just have only the newline character in them
#not_needed1 = column 0, not_needed2 = column 2, and not_needed3 is column 4
df_process.drop(["not_needed1","not_needed2","not_needed3"], axis=1, inplace=True)

#drop the first row that has the html table headers in it. 
df_process.drop(index= 0, axis=0, inplace=True)
df_process.head(10)

,Postal_Code,Borough,Neighborhood
1,[M1A\n],[Not assigned\n],[Not assigned\n]
2,[M2A\n],[Not assigned\n],[Not assigned\n]
3,[M3A\n],[North York\n],[Parkwoods\n]
4,[M4A\n],[North York\n],[Victoria Village\n]
5,[M5A\n],[Downtown Toronto\n],"[Regent Park, Harbourfront\n]"
6,[M6A\n],[North York\n],"[Lawrence Manor, Lawrence Heights\n]"
7,[M7A\n],[Downtown Toronto\n],"[Queen's Park, Ontario Provincial Government\n]"
8,[M8A\n],[Not assigned\n],[Not assigned\n]
9,[M9A\n],[Etobicoke\n],"[Islington Avenue, Humber Valley Village\n]"
10,[M1B\n],[Scarborough\n],"[Malvern, Rouge\n]"

In [170]:
df_process.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            171, 172, 173, 174, 175, 176, 177, 178, 179, 180],
           dtype='int64', length=180)

### Reset index after first row and unneccessary columns removed.

In [171]:

#reset index to begin at zero again, instead of 1, due to dropping the first row
df_process.reset_index(drop=True,inplace=True)

df_process.head()

  Postal_Code               Borough                   Neighborhood
0     [M1A\n]      [Not assigned\n]               [Not assigned\n]
1     [M2A\n]      [Not assigned\n]               [Not assigned\n]
2     [M3A\n]        [North York\n]                  [Parkwoods\n]
3     [M4A\n]        [North York\n]           [Victoria Village\n]
4     [M5A\n]  [Downtown Toronto\n]  [Regent Park, Harbourfront\n]

In [172]:
#check index after reset
df_process.index

RangeIndex(start=0, stop=180, step=1)

### Processing data (cont) 
1. Clean up the html tags in the column values. 
2. Create new dataframe that does not include rows with Borough = 'Not assigned'

In [173]:
#Do clean up of html tags in the data fields. 
df_removed_BoroughNA = df_process

#convert values to string data types and remove html tags and newline characters
# correct Postal_Code field
df_removed_BoroughNA['Postal_Code'] = df_removed_BoroughNA['Postal_Code'].astype(str).str.replace('<td>', '')
df_removed_BoroughNA['Postal_Code'] = df_removed_BoroughNA['Postal_Code'].astype(str).str.replace('\n</td>', '')

# Correct Borough field
df_removed_BoroughNA['Borough'] = df_removed_BoroughNA['Borough'].astype(str).str.replace('<td>', '')
df_removed_BoroughNA['Borough'] = df_removed_BoroughNA['Borough'].astype(str).str.replace('\n</td>', '')

#correct Neighborhood field
df_removed_BoroughNA['Neighborhood'] = df_removed_BoroughNA['Neighborhood'].astype(str).str.replace('<td>', '')
df_removed_BoroughNA['Neighborhood'] = df_removed_BoroughNA['Neighborhood'].astype(str).str.replace('\n</td>', '')


#df_removed_BoroughNA = df_removed_BoroughNA.to_string()
print (df_removed_BoroughNA.dtypes)
df_removed_BoroughNA

Postal_Code     object
Borough         object
Neighborhood    object
dtype: object

,Postal_Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [174]:
#do value counts in Borough field to identify how many 'not assigned' we have
df_removed_BoroughNA['Borough'].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Mississauga          1
Name: Borough, dtype: int64

In [175]:
df_removed_BoroughNA['Neighborhood'].value_counts()

Not assigned                                             77
Downsview                                                 4
Don Mills                                                 2
Wexford, Maryvale                                         1
Dorset Park, Wexford Heights, Scarborough Town Centre     1
                                                         ..
Willowdale, Willowdale East                               1
Harbourfront East, Union Station, Toronto Islands         1
North Toronto West,  Lawrence Park                        1
Birch Cliff, Cliffside West                               1
Lawrence Park                                             1
Name: Neighborhood, Length: 100, dtype: int64

In [176]:
df_removed_BoroughNA.index

RangeIndex(start=0, stop=180, step=1)

In [177]:
#Find rows with good value for Borough, and create new dataframe
#Do not include rows where Borough value is 'Not assigned'

#create new dataframe
newDf = df_removed_BoroughNA[(df_removed_BoroughNA['Borough'] != 'Not assigned')]

newDf.head(10)

   Postal_Code           Borough                                 Neighborhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

In [178]:
#check shape should be 180 minus 77 rows = 103 
#we began with 181 rows, however, we removed the first row of html header
print(newDf.shape)

#also check index because of rows not inlcuded in this dataframe. 
print(newDf.index)

(103, 3)
Int64Index([  2,   3,   4,   5,   6,   8,   9,  11,  12,  13,
            ...
            151, 152, 153, 156, 157, 160, 165, 168, 169, 178],
           dtype='int64', length=103)

In [179]:
newDf['Borough'].value_counts() #check that 'Not assigned' values for Borough are no longer included

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Mississauga          1
Name: Borough, dtype: int64

In [180]:

print (newDf.shape)

newDf2 = newDf
newDf2.shape

(103, 3)

(103, 3)

### Find Not assigned values in Neighborhood, and set to be the same value as Borough

In [181]:
import warnings # to keep the simple warnings from showing up as a result of SettingWithCopyWarning
warnings.filterwarnings('ignore')

newDf2["Neighborhood"].replace('Not assigned', newDf2["Borough"], inplace=True)

In [182]:
newDf2

,Postal_Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

### check values to make sure there are no 'Not Assigned' values in the fields

In [184]:
newDf2['Neighborhood'].value_counts()

Downsview                                                4
Don Mills                                                2
First Canadian Place, Underground city                   1
Queen's Park, Ontario Provincial Government              1
Kensington Market, Chinatown, Grange Park                1
                                                        ..
Parkview Hill, Woodbine Gardens                          1
Dorset Park, Wexford Heights, Scarborough Town Centre    1
Del Ray, Mount Dennis, Keelsdale and Silverthorn         1
North Park, Maple Leaf Park, Upwood Park                 1
Caledonia-Fairbanks                                      1
Name: Neighborhood, Length: 99, dtype: int64

In [185]:
newDf2['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Mississauga          1
Name: Borough, dtype: int64

In [186]:
newDf2.index

Int64Index([  2,   3,   4,   5,   6,   8,   9,  11,  12,  13,
            ...
            151, 152, 153, 156, 157, 160, 165, 168, 169, 178],
           dtype='int64', length=103)

In [187]:
#reset the index for newDf2 
newDf2.reset_index(drop=True,inplace=True)
newDf2.index

RangeIndex(start=0, stop=103, step=1)

In [188]:
#check for duplicate values in Postal code
#If there are any postal codes with more than one row, prep for consolidating the neighborhoods into one row
boolean = newDf2.duplicated(subset=['Postal_Code']).any()
print(boolean, "  If value is false, there are no duplicates" )

False   If value is false, there are no duplicates

### Use geocoder. per forum using arcgis to get latitude and longitude values for the postal codes
1.  Add the latitude and longitude columns to the dataframe, set default value of 0.0 and re-index because of the addition of new columns.

In [189]:
import geocoder

def get_latlon(postal_code):

    lat_lng_coords = None

    while(lat_lng_coords is None):

        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))

        lat_lng_coords = g.latlng

    return lat_lng_coords

get_latlon('M9B') # test function

[43.65002250300006, -79.55408903099999]

In [190]:
#add columns Latitude and Longitude to newDf2 dataframe with dummy values
newDf2['Latitude'] = '0.0'
newDf2['Longitude'] = '0.0'

#need to reindex because of new columns added
new_columns = ['Postal_Code', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']
newDf2.reindex(new_columns)
newDf2.head()

,Postal_Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,0.0,0.0
1,M4A,North York,Victoria Village,0.0,0.0
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",0.0,0.0
3,M6A,North York,"Lawrence Manor, Lawrence Heights",0.0,0.0
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",0.0,0.0

### Add latitude and longitude to the dataframe
1. This is why we re-index, so that we can step through
2. Use the function to get the latitude and longitude values for each postal code
3. Populate the column with the extracted values

In [191]:
for i in range (newDf2['Postal_Code'].count()):
        lat_long = []  #initialize variable
        
        postal_code = newDf2.iloc[i,0] #capture single postal code
        lat_long = get_latlon(postal_code) #pull values 
        newDf2.iloc[i,3] = lat_long[0]
        newDf2.iloc[i,4] = lat_long[1]
        
newDf2.head(10)

,Postal_Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7529,-79.3356
1,M4A,North York,Victoria Village,43.7281,-79.3119
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.651,-79.353
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.7233,-79.4512
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.6618,-79.3894
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.6675,-79.529
6,M1B,Scarborough,"Malvern, Rouge",43.8086,-79.1899
7,M3B,North York,Don Mills,43.7489,-79.3572
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.7072,-79.3115
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.6575,-79.3775

In [192]:
newDf2.shape

(103, 5)